.button{
    background: #7B61FF;
    border-radius: 12px;
    transition: background-color 0.2s ease-in; 
}

.button:hover{
    background-color: #705bd6; 
    opacity: 0.8; 
}

.button--huge{
    padding: 24px; 
    font-weight: 600;
    font-size: 18px;

   
}

.button--search{
    padding: 18px;  
    width: 60px;
    height: 60px;
}

